<div>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="patientLoader()" type="button">
        Patient
    </button>&nbsp;
</div>
<div>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="testLoader()" type="button">
        Test
    </button>&nbsp;
</div>
<div>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="resultsLoader()" type="button">
        ResultsLoader
    </button>&nbsp;
</div>
<div>
    <button class="btn btn-primary" data-dismiss="modal" ng-click="scanLoader()" type="button">
        Scan
    </button>&nbsp;
</div>